{% extends "card/base.html" %}

{% block content %}
    <div id='appointment_psychologist'>
        <h1>Запись к психологу</h1>
        <img class='foto' src="https://back.alter.ru/media/avatars/7909800b2dafb7ef987cbbcec359c13ce3b21b69.jpeg" alt='фото'\>
    </div>
    <div class='center'>
        <div class='type_therapy' id='calendar'>
            <h3>Выберите время</h3>
            <div id="date_picker_choice">
                <button id="button_date_left">&lt;</button>
                <h3 id="date_picker"></h3>
                <button id="button_date_right">&gt;</button>
            </div>
            <div class='weeks'>
                <div class="week_day" id='20'></div>
                <div class="week_day" id='21'></div>
                <div class="week_day" id='22'></div>
                <div class="week_day" id='23'></div>
                <div class="week_day" id='24'></div>
                <div class="week_day" id='25'></div>
                <div class="week_day" id='26'></div>
            </div>
            <div class='weeks'>
                <div id='0' class="week_day_num"></div>
                <div id='1' class="week_day_num"></div>
                <div id='2' class="week_day_num"></div>
                <div id='3' class="week_day_num"></div>
                <div id='4' class="week_day_num"></div>
                <div id='5' class="week_day_num"></div>
                <div id='6' class="week_day_num"></div>
            </div>
            <div class='weeks'>
                <div id='7' class="week_day_num"></div>
                <div id='8' class="week_day_num"></div>
                <div id='9' class="week_day_num"></div>
                <div id='10' class="week_day_num"></div>
                <div id='11' class="week_day_num"></div>
                <div id='12' class="week_day_num"></div>
                <div id='13' class="week_day_num"></div>
            </div>
        </div>
        <div class='type_therapy' class='session_information'>
            <h4>Информация о сессии</h4>
            <form method="post"> <!-- Проверка value -->
                {% csrf_token %}
                <input id="calendar_input" hidden  value="" name="date">
                {% comment %} <p>{{form.data.value}}</p> {% endcomment %}
                <h4 class='Cost_h4'>Стоимость: {{Author_features.amount_reception}} ₽</h4>
                <button class='further' type='submit'> 
                    <p>Далее</p> 
                </button> 
            </form>
            <div class='warranty'>
                <h4>Вы получаете гарантии Alter</h4>
            </div>
        </div>
    </div>
{% endblock %}