{% extends "card/base.html" %}

{% block content %}
    <div id='appointment_psychologist'>
        <h1>Запись к психологу</h1>
        <img class='foto' src="https://back.alter.ru/media/avatars/7909800b2dafb7ef987cbbcec359c13ce3b21b69.jpeg" alt='фото'\>
    </div>
    <div class='center'>
        <div class='type_therapy' id='calendar'>
            <h3>Выберите время</h3>
            <div class='weeks'>
                <div class="week_day">пн</div>
                <div class="week_day">вт</div>
                <div class="week_day">ср</div>
                <div class="week_day">чт</div>
                <div class="week_day">пт</div>
                <div class="week_day">сб</div>
                <div class="week_day">вс</div>
            </div>
            <div class='weeks'>
                <div id='mo1' class="week_day_num">16</div>
                <div id='tu1' class="week_day_num">17</div>
                <div id='we1' class="week_day_num">18</div>
                <div id='th1' class="week_day_num">19</div>
                <div id='fr1' class="week_day_num">20</div>
                <div id='sa1' class="week_day_num">21</div>
                <div id='su1' class="week_day_num">22</div>
            </div>
            <div class='weeks'>
                <div id='mo2' class="week_day_num">23</div>
                <div id='tu2' class="week_day_num">24</div>
                <div id='we2' class="week_day_num">25</div>
                <div id='th2' class="week_day_num">26</div>
                <div id='fr2' class="week_day_num">27</div>
                <div id='sa2' class="week_day_num">28</div>
                <div id='su2' class="week_day_num">29</div>
            </div>
        </div>
        <div class='type_therapy' class='session_information'>
            <h4>Информация о сессии</h4>
            <form method="post"> <!-- Проверка value -->
                {% csrf_token %}
                <input id="calendar_input" value="{{form.data}}">
                {% comment %} <p>{{form.data.value}}</p>  {% endcomment %}
                <h4 class='Cost_h4'>Стоимость: {{Author_features.amount_reception}} ₽</h4>
                <button class='further' type='submit'> 
                    <p>Далее</p> 
                </button> 
            </form>
            <div class='warranty'>
                <h4>Вы получаете гарантии Alter</h4>
            </div>
        </div>
    </div>
{% endblock %}