{% extends "card/base.html" %} 
 
{% block content %} 
    <div id='appointment_psychologist'> 
        <h1>Запись к психологу</h1> 
        <img class='foto' src="https://back.alter.ru/media/avatars/7909800b2dafb7ef987cbbcec359c13ce3b21b69.jpeg" alt='фото'\> 
    </div> 
    <div>
        <form method="post">
            {% csrf_token %}
            <div class='center'>
                <div class='type_therapy' id='personal_data'>
                    <div class='personal_data_type'>
                        <h4>Номер телефона</h4>
                        <input class='data' value="{{ form.phone.value }}" type="text" name="{{ form.phone.name }}">
                    </div>
                    <div class='personal_data_type'>
                        <h4>Почта</h4>
                        <input class='data' value="{{ form.email.value }}" type="email" name="{{ form.email.name }}">
                    </div>
                    <div class='personal_data_type'>
                        <h4>Имя</h4>
                        <input class='data' value="{{ form.name_client.value }}" type="text" name="{{ form.name_client.name }}">
                    </div>
                    <div class='personal_data_type'>
                        <h4>Описание</h4>
                        <input class='data' value="{{ form.description.value }}" type="text" name="{{ form.description.name }}">
                    </div>
                    <div class='personal_data_type'>
                        <h4>Дата</h4>
                        <input class='data' value="{{ form.date.value }}" type="text" name="{{ form.date.name }}">
                    </div>
                </div>
        
                <div class='type_therapy' class='session_information'>
                    <h4>Информация о сессии</h4>
                    <h4 class='Cost_h4'>Стоимость: {{Author_features.amount_reception}} ₽</h4>
                    <button class='further' type='submit'> 
                        <p>Далее</p> 
                    </button> 
                    <div class='warranty'>
                        <h4>Вы получаете гарантии Alter</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}