{% extends "card/base.html" %}

{% block content %}
    <div id='appointment_psychologist'>
        <h1>Запись к психологу</h1>
        <img class='foto' src="https://back.alter.ru/media/avatars/7909800b2dafb7ef987cbbcec359c13ce3b21b69.jpeg" alt='фото'\>
    </div>
    <div>
        <div class='type_therapy check_type_therapy' id='individual'>
            <h3>Индивидуально</h3>
            <p>{{Author_features.amount_reception}} ₽</p>
            <img class='foto_appointment' src="https://back.alter.ru/images/one-person-session.svg" alt='фото'\>
        </div>
        <div class='type_therapy' id='Family'>
            <h3>С партнёром/Семьёй</h3>
            <p>{{Author_features.amount_reception}} ₽</p>
            <img class='foto_appointment' src="https://back.alter.ru/images/family-session.svg" alt='фото'\>
        </div>
        <div class='type_therapy' class='session_information'>
            <h4>Информация о сессии</h4>
            <form method="post"> <!-- Проверка value -->
                {% csrf_token %}
                <input type="checkbox" hidden id='chossen_type' checked=true name="view_lesson"> 
                <h4 class='Cost_h4'>Стоимость: {{Author_features.amount_reception}} ₽</h4>
                <button class='further' type='submit'> 
                    <p>Сохранить</p>
                </button> 
            </form> <!-- Проверка value -->
            <div class='warranty'>
                <h4>Вы получаете гарантии Alter</h4>
            </div>
        </div>
    </div>
{% endblock %}