{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href={% static "css/base_css.css" %}>
    
    
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');</style>
    <title>ps</title>
</head>
<body>
    <header>
        <p>alter</p>
        {% if user.is_authenticated %}
            <div id="button_header">
                <div><a id='admin'>admin</a></div>
                {% comment %} <div class='button_header' ><a href="{% url 'customers' %}">customers</a></div> {% endcomment %}
                <div><a id='customers' href="{% url 'customers' %}">customers</a></div>
                <div><a id='logout' href="{% url 'logout' %}">Log out</a></div>
            </div>
        {% else %}
            <div id="button_header">
                <div><a id='login' href="{% url 'login' %}">Login</a></div>
            </div>
        {% endif %}
    </header>

    {% block content %}
    {% endblock %}

    <div id='futor'>
    </div>
</body>
<script src={%static "js/card_js.js"%}></script>
<script src={%static "js/card_calendar_js.js"%}></script>
</html>