{% extends "card/base.html" %}

{% block content %}
<div id='Specifications1'>
    <img id='foto' src="https://back.alter.ru/media/avatars/7909800b2dafb7ef987cbbcec359c13ce3b21b69.jpeg" alt='фото'\>
    <h1 id='name'>{{Author_features.author_title}}</h1>
    <p>Клинический психолог Семейный психолог <br> Психолог</p>
    <div id='Specifications2'>
        <p id='Specifications2p'>{{Author_features.profession}} лет опыта &nbsp;&nbsp;&nbsp; {{Author_features.age}} лет &nbsp;&nbsp;&nbsp;</p>
        <p id='Verified'>Проверено Alter</p>
    </div>
    <div id='NumberSessions'>
        <p>Болee 200 сессий в Alter</p>
    </div>
</div>
{% endblock %}