header {
    height: 80px;
    background-color: #ffffff;
    border-bottom: solid 0.5px #9fa0a9;
    font-size: 30px;
    text-align: center;
    padding: 18px;
    color: #29b981;
}

body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#button_header{
    /*background-color: #848691;*/
    float: left;
    position: relative;
    left: 1335px;
    bottom: 65px;
}

#admin {
    font-size: 20px;
    background-color: #29b981;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    color: #fff;
    text-decoration: none;
}

#customers {
    font-size: 20px;
    background-color: #29b981;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    position: relative;
    top: 10px;
    text-decoration: none;
}

#Specifications1 {
    color: #9fa0a9;
    position: relative;
    left: 35%;
    margin-top: 50px;
}

.foto {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: -180px;
    bottom: -15px;
}

.foto_appointment {
    position: relative;
    top: 40px;
}

#name {
    color: #000;
    /*border: solid 1px #000;*/
}

#Specifications2p {
    color: #000;
    float: left;
}

#NumberSessions {
    height: 30px;
    width: 190px;
    padding-top: 5px;
    background-color: #fef1df;
    border-radius: 8px;
    text-align: center;
}

#Verified{
    color: #29b981;
}

#WhenApply {
    background-color: #f6f6f5;
    width: 100%;
    margin-top: 20px;
    position: relative;
    top: 80px;
    padding-bottom: 20px;
}

#WhenApplytext {
    margin-left: 350px;
    padding-top: 3px;
    padding-bottom: 25px;
}

#WhenApplytext li {
    padding: 10px;
}

#age {
    margin-top: 20px; 
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

#price {
    height: 260px;
    width: 280px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 20px #d8d8d8;
    position: fixed;
    left: 1050px;
    bottom: 320px;
    padding: 12px;
}

#price h5 {
    color: #9fa0a9;
}

.PriceButton {
    height: 50px;
    width: 240px;
    margin-top: 18px;
    margin-left: 18px ;
    border-radius: 8px;
    text-align: center;
    padding: 13px;
    position: relative;
    right: 10px;
    top: 15px;
    font-size: 16px;
}

#ViewTime {
    background-color: #29b981;
}

#ViewTime p {
    color: #fff
}

#PsychologistQuestion {
    border: solid 1px #000;
    background-color: #ffffff;
}

#discription {
    width: 100%;
    background-color: #f6f6f5;  
    position: relative;
    top: 100px;
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 495px;
    padding-bottom: 30px;
    margin-top: 20px;
}

#appointment_psychologist {
    background-color: #f6f5f3;
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.type_therapy {
    height: 320px;
    width: 320px;
    /*border: solid 2px #000;*/
    box-shadow: 1px 1px 20px #d8d8d8;
    border-radius: 8px;
    padding-left: 10px;
    float: left;
    position: relative;
    left: 300px;
    top: 50px;
    margin-left: 25px;
}

.check_type_therapy {
    border: solid 4px #29b981;
} 

.session_information {
    height: 320px;
    box-shadow: 1px 1px 20px #d8d8d8;
    border-radius: 8px;
}

.further {
    width: 200px;
    text-align: center;
    background-color: #29b981;
    border-radius: 8px;
    padding-top: 10px;
    position: relative;
    left: 15%;
    top: 185px;
}

.further p {
    color: #fff;
}

.Cost_h4 {
    border-top: solid 1px #dcdcdc;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    top: 180px;
}

.warranty {
    width: 320px;
    background-color: #e6f5ee;
    text-align: center;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    right: 10px;
    /*top: 40%;*/
    margin-top: 205px;
}

#calendar {
    height: 500px;
    width: 665px;
    padding-left: 20px;
}

.weeks{
    padding-top: 60px;
}

.week_day {
    height: 40px;
    width: 40px;
    color: #848691;
    font-size: 18px;
    font-weight: 400;
    margin-left: 7%;
    position: relative;
    float: left;
    text-align: center;
}

.week_day_num {
    height: 40px;
    width: 40px;
    color: #848691;
    font-size: 18px;
    font-weight: 400;
    margin-left: 7%;
    position: relative;
    float: left;
    text-align: center;
    padding-top: 8px;

}

.check_week_day_num {
    background-color: #29b981;
    border-radius: 50%;
    color: #fff;
} 

#personal_data {
    height: 500px;
    width: 665px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.personal_data_type {
    margin-bottom: 40px;
}

.data {
    height: 40px;
    width: 100%;
    border: solid 2px #dcdcdc;
    border-radius: 8px;
}

.center {
    margin: 0 auto;
}

#users {
    width: 550px;
    background-color: #29b981;
    margin: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 8px;
    color: #fff;
}

#users a {
    color:#fff;
    text-decoration: none;
}

#user {
    width: 90%;
    background-color: #29b981;
    margin: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 8px;
    color: #fff;
    margin: auto;
    margin-top: 20px;
}

#name_client {
    text-align: center;
}

#date_picker_choice {
    text-align: center;
    position: relative;
    top: 25px
}

#button_date_left {
    display: inline-block;
    margin-right: 60px;
    background: none;
    border: none;
}

#button_date_right {
    display: inline-block;
    margin-left: 60px;
    background: none;
    border: none;
}

#date_picker {
    display: inline-block;
}

#futor {
    height: 150px;
    margin-bottom: 0;
    margin-top: 100%;
    background-color: #29b981;
    border-top: solid 4px #9fa0a9;
    border-radius: 8px 8px 0px 0px;
}